.vs/
SerialPortDataEmulatorConsole/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
SerialPortDataEmulatorConsole/obj/
SerialPortDataEmulatorConsoleTests/bin/
SerialPortDataEmulatorConsoleTests/obj/
packages/
FuelTest/obj/
FuelTest/bin/
SerialPortDataEmulatorConsole/bin/Debug/SerialPortDataEmulatorConsole.pdb
